## Importing required packages

In [1]:
import requests
import lxml.html as lh
import pandas as pd

## Scraping Table from the URL

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [4]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

## Parse table Header

In [5]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('{}:{}'.format(i,name))
    col.append((name,[]))

1:Postcode
2:Borough
3:Neighbourhood

## Creating Pandas Dataframe

In [6]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [7]:
[len(C) for (title,C) in col]

[288, 288, 288]

In [8]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [9]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

## Cleaning dataframe: removing \n

In [10]:
df.columns = ['Postcode', 'Borough', 'Neighbourhood']

In [11]:
df.Neighbourhood = df.Neighbourhood.str.replace('\n', '')

In [12]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## Removing rows where column Borough is not assigned

In [13]:
df = df[df.Borough != "Not assigned"]

In [14]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

## Replacing Neighbourhood that are not assigned by their corresponding Borough

In [15]:
df[df.Neighbourhood == 'Not assigned']

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [16]:
df.Neighbourhood.replace("Not assigned", df[df.Neighbourhood == 'Not assigned'].Borough, inplace=True)

In [17]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

## Resetting the index: Final Dataset

In [97]:
df.drop(df.index[136], inplace=True)

In [98]:
df = df.reset_index(drop=True)

In [99]:
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

## Custom function to geocode postcode

In [102]:
import time

In [103]:
def geocode(postalcode):
    API_KEY = 'dc42f8f1757c17'
    url = 'https://us1.locationiq.com/v1/search.php'
    params = {'key': API_KEY, 'format':'json', 'postalcode':postalcode}
    r = requests.get(url, params=params)
    result = r.json()
    time.sleep(1) # Only 60 requests are allowed per minute so delaying each request by sec 
    print((result[0]['lat'], result[0]['lon']))
    return (result[0]['lat'], result[0]['lon'])

## Generating column for Latitude

In [107]:
df['Latitude'] = df['Postcode'].apply(lambda x: geocode(x)[0])

('43.7545', '-79.33')
('43.7276', '-79.3148')
('43.6555', '-79.3626')
('43.6555', '-79.3626')
('43.7223', '-79.4504')
('43.7223', '-79.4504')
('43.6641', '-79.3889')
('43.6662', '-79.5282')
('43.8113', '-79.193')
('43.8113', '-79.193')
('43.745', '-79.359')
('43.7063', '-79.3094')
('43.7063', '-79.3094')
('43.6572', '-79.3783')
('43.6572', '-79.3783')
('43.7081', '-79.4479')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.7878', '-79.1564')
('43.7878', '-79.1564')
('43.7878', '-79.1564')
('43.7334', '-79.3329')
('43.7334', '-79.3329')
('43.6913', '-79.3116')
('43.6513', '-79.3756')
('43.6915', '-79.4307')
('43.6437', '-79.5767')
('43.6437', '-79.5767')
('43.6437', '-79.5767')
('43.6437', '-79.5767')
('43.7678', '-79.1866')
('43.7678', '-79.1866')
('43.7678', '-79.1866')
('43.6784', '-79.2941')
('43.6456', '-79.3754')
('43.6889', '-79.4507')
('43.7712', '-79.2144')
('43.7124', '-79.3644')
('43.6564', '-79.386')
('43.6683', '-79.4205')
('43.7686', '-79.2389')
('43.8015', '-79.3577')
('43.7535', '-79.4472')
('43.7535', '-79.4472')
('43.7535', '-79.4472')
('43.7059', '-79.3464')
('43.6496', '-79.3833')
('43.6496', '-79.3833')
('43.6496', '-79.3833')
('43.6655', '-79.4378')
('43.6655', '-79.4378')
('43.7464', '-79.2323')
('43.7801', '-79.3479')
('43.7801', '-79.3479')
('43.7801', '-79.3479')
('43.7694', '-79.4921')
('43.7694', '-79.4921')
('43.6872', '-79.3368')
('43.623', '-79.3936')
('43.623', '-79.3936')
('43.623', '-79.3936')
('43.648', '-79.4177')
('43.648', '-79.4177')
('43.7298', '-79.2639')
('43.7298', '-79.2639')
('43.7298', '-79.2639')
('43.7797', '-79.3813')
('43.739', '-79.4692')
('43.739', '-79.4692')
('43.6803', '-79.3538')
('43.6803', '-79.3538')
('43.6469', '-79.3823')
('43.6469', '-79.3823')
('43.6383', '-79.4301')
('43.6383', '-79.4301')
('43.6383', '-79.4301')
('43.7122', '-79.2843')
('43.7122', '-79.2843')
('43.7122', '-79.2843')
('43.7547', '-79.3764')
('43.7547', '-79.3764')
('43.7334', '-79.5116')
('43.6693', '-79.3155')
('43.6693', '-79.3155')
('43.6492', '-79.3823')
('43.6492', '-79.3823')
('43.7137', '-79.4869')
('43.7137', '-79.4869')
('43.7137', '-79.4869')
('43.7598', '-79.5565')
('43.7247', '-79.2312')
('43.7247', '-79.2312')
('43.7247', '-79.2312')
('43.7915', '-79.4103')
('43.7915', '-79.4103')
('43.7319', '-79.4928')
('43.6561', '-79.3406')
('43.7335', '-79.4177')
('43.7335', '-79.4177')
('43.6934', '-79.4857')
('43.6934', '-79.4857')
('43.6934', '-79.4857')
('43.6934', '-79.4857')
('43.7366', '-79.5401')
('43.7366', '-79.5401')
('43.6952', '-79.2646')
('43.6952', '-79.2646')
('43.7673', '-79.4111')
('43.7568', '-79.521')
('43.7301', '-79.3935')
('43.7113', '-79.4195')
('43.6748', '-79.4839')
('43.6748', '-79.4839')
('43.7068', '-79.517')
('43.7612', '-79.2707')
('43.7612', '-79.2707')
('43.7612', '-79.2707')
('43.75', '-79.3978')
('43.7135', '-79.3887')
('43.6966', '-79.412')
('43.6966', '-79.412')
('43.6605', '-79.4633')
('43.6605', '-79.4633')
('43.6949', '-79.5323')
('43.7507', '-79.3003')
('43.7507', '-79.3003')
('43.7786', '-79.445')
('43.7143', '-79.4065')
('43.6736', '-79.4035')
('43.6736', '-79.4035')
('43.6736', '-79.4035')
('43.6469', '-79.4521')
('43.6469', '-79.4521')
('43.6898', '-79.5582')
('43.6898', '-79.5582')
('43.6898', '-79.5582')
('43.7946', '-79.2644')
('43.702', '-79.3853')
('43.6629', '-79.3987')
('43.6629', '-79.3987')
('43.6512', '-79.4828')
('43.6512', '-79.4828')
('43.7812', '-79.3036')
('43.7812', '-79.3036')
('43.7812', '-79.3036')
('43.6899', '-79.3853')
('43.6899', '-79.3853')
('43.6541', '-79.3978')
('43.6541', '-79.3978')
('43.6541', '-79.3978')
('43.8177', '-79.2819')
('43.8177', '-79.2819')
('43.8177', '-79.2819')
('43.8177', '-79.2819')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6075', '-79.5013')
('43.6075', '-79.5013')
('43.6075', '-79.5013')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.8016', '-79.3216')
('43.6827', '-79.373')
('43.6437', '-79.3787')
('43.6021', '-79.5402')
('43.6021', '-79.5402')
('43.7144', '-79.5909')
('43.834', '-79.2069')
('43.6684', '-79.3689')
('43.6684', '-79.3689')
('43.6492', '-79.3823')
('43.6492', '-79.3823')
('43.6518', '-79.5076')
('43.6518', '-79.5076')
('43.6518', '-79.5076')
('43.6656', '-79.383')
('43.7804', '-79.2505')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6256', '-79.5231')
('43.6256', '-79.5231')
('43.6256', '-79.5231')
('43.6256', '-79.5231')
('43.6256', '-79.5231')

In [108]:
df.head()

  Postcode           Borough     Neighbourhood Latitude
0      M3A        North York         Parkwoods  43.7545
1      M4A        North York  Victoria Village  43.7276
2      M5A  Downtown Toronto      Harbourfront  43.6555
3      M5A  Downtown Toronto       Regent Park  43.6555
4      M6A        North York  Lawrence Heights  43.7223

## Generating column for longitudes

In [109]:
df['Longitude'] = df['Postcode'].apply(lambda x: geocode(x)[1])

('43.7545', '-79.33')
('43.7276', '-79.3148')
('43.6555', '-79.3626')
('43.6555', '-79.3626')
('43.7223', '-79.4504')
('43.7223', '-79.4504')
('43.6641', '-79.3889')
('43.6662', '-79.5282')
('43.8113', '-79.193')
('43.8113', '-79.193')
('43.745', '-79.359')
('43.7063', '-79.3094')
('43.7063', '-79.3094')
('43.6572', '-79.3783')
('43.6572', '-79.3783')
('43.7081', '-79.4479')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.6505', '-79.5517')
('43.7878', '-79.1564')
('43.7878', '-79.1564')
('43.7878', '-79.1564')
('43.7334', '-79.3329')
('43.7334', '-79.3329')
('43.6913', '-79.3116')
('43.6513', '-79.3756')
('43.6915', '-79.4307')
('43.6437', '-79.5767')
('43.6437', '-79.5767')
('43.6437', '-79.5767')
('43.6437', '-79.5767')
('43.7678', '-79.1866')
('43.7678', '-79.1866')
('43.7678', '-79.1866')
('43.6784', '-79.2941')
('43.6456', '-79.3754')
('43.6889', '-79.4507')
('43.7712', '-79.2144')
('43.7124', '-79.3644')
('43.6564', '-79.386')
('43.6683', '-79.4205')
('43.7686', '-79.2389')
('43.8015', '-79.3577')
('43.7535', '-79.4472')
('43.7535', '-79.4472')
('43.7535', '-79.4472')
('43.7059', '-79.3464')
('43.6496', '-79.3833')
('43.6496', '-79.3833')
('43.6496', '-79.3833')
('43.6655', '-79.4378')
('43.6655', '-79.4378')
('43.7464', '-79.2323')
('43.7801', '-79.3479')
('43.7801', '-79.3479')
('43.7801', '-79.3479')
('43.7694', '-79.4921')
('43.7694', '-79.4921')
('43.6872', '-79.3368')
('43.623', '-79.3936')
('43.623', '-79.3936')
('43.623', '-79.3936')
('43.648', '-79.4177')
('43.648', '-79.4177')
('43.7298', '-79.2639')
('43.7298', '-79.2639')
('43.7298', '-79.2639')
('43.7797', '-79.3813')
('43.739', '-79.4692')
('43.739', '-79.4692')
('43.6803', '-79.3538')
('43.6803', '-79.3538')
('43.6469', '-79.3823')
('43.6469', '-79.3823')
('43.6383', '-79.4301')
('43.6383', '-79.4301')
('43.6383', '-79.4301')
('43.7122', '-79.2843')
('43.7122', '-79.2843')
('43.7122', '-79.2843')
('43.7547', '-79.3764')
('43.7547', '-79.3764')
('43.7334', '-79.5116')
('43.6693', '-79.3155')
('43.6693', '-79.3155')
('43.6492', '-79.3823')
('43.6492', '-79.3823')
('43.7137', '-79.4869')
('43.7137', '-79.4869')
('43.7137', '-79.4869')
('43.7598', '-79.5565')
('43.7247', '-79.2312')
('43.7247', '-79.2312')
('43.7247', '-79.2312')
('43.7915', '-79.4103')
('43.7915', '-79.4103')
('43.7319', '-79.4928')
('43.6561', '-79.3406')
('43.7335', '-79.4177')
('43.7335', '-79.4177')
('43.6934', '-79.4857')
('43.6934', '-79.4857')
('43.6934', '-79.4857')
('43.6934', '-79.4857')
('43.7366', '-79.5401')
('43.7366', '-79.5401')
('43.6952', '-79.2646')
('43.6952', '-79.2646')
('43.7673', '-79.4111')
('43.7568', '-79.521')
('43.7301', '-79.3935')
('43.7113', '-79.4195')
('43.6748', '-79.4839')
('43.6748', '-79.4839')
('43.7068', '-79.517')
('43.7612', '-79.2707')
('43.7612', '-79.2707')
('43.7612', '-79.2707')
('43.75', '-79.3978')
('43.7135', '-79.3887')
('43.6966', '-79.412')
('43.6966', '-79.412')
('43.6605', '-79.4633')
('43.6605', '-79.4633')
('43.6949', '-79.5323')
('43.7507', '-79.3003')
('43.7507', '-79.3003')
('43.7786', '-79.445')
('43.7143', '-79.4065')
('43.6736', '-79.4035')
('43.6736', '-79.4035')
('43.6736', '-79.4035')
('43.6469', '-79.4521')
('43.6469', '-79.4521')
('43.6898', '-79.5582')
('43.6898', '-79.5582')
('43.6898', '-79.5582')
('43.7946', '-79.2644')
('43.702', '-79.3853')
('43.6629', '-79.3987')
('43.6629', '-79.3987')
('43.6512', '-79.4828')
('43.6512', '-79.4828')
('43.7812', '-79.3036')
('43.7812', '-79.3036')
('43.7812', '-79.3036')
('43.6899', '-79.3853')
('43.6899', '-79.3853')
('43.6541', '-79.3978')
('43.6541', '-79.3978')
('43.6541', '-79.3978')
('43.8177', '-79.2819')
('43.8177', '-79.2819')
('43.8177', '-79.2819')
('43.8177', '-79.2819')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6861', '-79.4025')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6404', '-79.3995')
('43.6075', '-79.5013')
('43.6075', '-79.5013')
('43.6075', '-79.5013')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.7432', '-79.5876')
('43.8016', '-79.3216')
('43.6827', '-79.373')
('43.6437', '-79.3787')
('43.6021', '-79.5402')
('43.6021', '-79.5402')
('43.7144', '-79.5909')
('43.834', '-79.2069')
('43.6684', '-79.3689')
('43.6684', '-79.3689')
('43.6492', '-79.3823')
('43.6492', '-79.3823')
('43.6518', '-79.5076')
('43.6518', '-79.5076')
('43.6518', '-79.5076')
('43.6656', '-79.383')
('43.7804', '-79.2505')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6325', '-79.4939')
('43.6256', '-79.5231')
('43.6256', '-79.5231')
('43.6256', '-79.5231')
('43.6256', '-79.5231')
('43.6256', '-79.5231')

In [110]:
df.head()

  Postcode           Borough     Neighbourhood Latitude Longitude
0      M3A        North York         Parkwoods  43.7545    -79.33
1      M4A        North York  Victoria Village  43.7276  -79.3148
2      M5A  Downtown Toronto      Harbourfront  43.6555  -79.3626
3      M5A  Downtown Toronto       Regent Park  43.6555  -79.3626
4      M6A        North York  Lawrence Heights  43.7223  -79.4504

## Final Dataset

In [111]:
df

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.7545,-79.33
1,M4A,North York,Victoria Village,43.7276,-79.3148
2,M5A,Downtown Toronto,Harbourfront,43.6555,-79.3626
3,M5A,Downtown Toronto,Regent Park,43.6555,-79.3626
4,M6A,North York,Lawrence Heights,43.7223,-79.4504
5,M6A,North York,Lawrence Manor,43.7223,-79.4504
6,M7A,Queen's Park,Queen's Park,43.6641,-79.3889
7,M9A,Etobicoke,Islington Avenue,43.6662,-79.5282
8,M1B,Scarborough,Rouge,43.8113,-79.193
9,M1B,Scarborough,Malvern,43.8113,-79.193
10,M3B,North York,Don Mills North,43.745,-79.359
11,M4B,East York,Woodbine Gardens,43.7063,-79.3094
12,M4B,East York,Parkview Hill,43.7063,-79.3094
13,M5B,Downtown Toronto,Ryerson,43.6572,-79.3783
14,M5B,Downtown Toronto,Garden District,43.6572,-79.3783
15,M6B,North York,Glencairn,43.7081,-79.4479
16,M9B,Etobicoke,Cloverdale,43.6505,-79.5517
17,M9B,Etobicoke,Islington,43.6505,-79.5517
18,M9B,Etobicoke,Martin Grove,43.6505,-79.5517
19,M9B,Etobicoke,Princess Gardens,43.6505,-79.5517
20,M9B,Etobicoke,West Deane Park,43.6505,-79.5517
21,M1C,Scarborough,Highland Creek,43.7878,-79.1564
22,M1C,Scarborough,Rouge Hill,43.7878,-79.1564
23,M1C,Scarborough,Port Union,43.7878,-79.1564
24,M3C,North York,Flemingdon Park,43.7334,-79.3329
25,M3C,North York,Don Mills South,43.7334,-79.3329
26,M4C,East York,Woodbine Heights,43.6913,-79.3116
27,M5C,Downtown Toronto,St. James Town,43.6513,-79.3756
28,M6C,York,Humewood-Cedarvale,43.6915,-79.4307
29,M9C,Etobicoke,Bloordale Gardens,43.6437,-79.5767
...,...,...,...,...,...
179,M9V,Etobicoke,Thistletown,43.7432,-79.5876
180,M1W,Scarborough,L'Amoreaux West,43.8016,-79.3216
181,M4W,Downtown Toronto,Rosedale,43.6827,-79.373
182,M5W,Downtown Toronto,Stn A PO Boxes 25 The Esplanade,43.6437,-79.3787
183,M8W,Etobicoke,Alderwood,43.6021,-79.5402
184,M8W,Etobicoke,Long Branch,43.6021,-79.5402
185,M9W,Etobicoke,Northwest,43.7144,-79.5909
186,M1X,Scarborough,Upper Rouge,43.834,-79.2069
187,M4X,Downtown Toronto,Cabbagetown,43.6684,-79.3689
188,M4X,Downtown Toronto,St. James Town,43.6684,-79.3689
189,M5X,Downtown Toronto,First Canadian Place,43.6492,-79.3823
190,M5X,Downtown Toronto,Underground city,43.6492,-79.3823
191,M8X,Etobicoke,The Kingsway,43.6518,-79.5076
192,M8X,Etobicoke,Montgomery Road,43.6518,-79.5076
193,M8X,Etobicoke,Old Mill North,43.6518,-79.5076
194,M4Y,Downtown Toronto,Church and Wellesley,43.6656,-79.383
195,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.7804,-79.2505
196,M8Y,Etobicoke,Humber Bay,43.6325,-79.4939
197,M8Y,Etobicoke,King's Mill Park,43.6325,-79.4939
198,M8Y,Etobicoke,Kingsway Park South East,43.6325,-79.4939
199,M8Y,Etobicoke,Mimico NE,43.6325,-79.4939
200,M8Y,Etobicoke,Old Mill South,43.6325,-79.4939
201,M8Y,Etobicoke,The Queensway East,43.6325,-79.4939
202,M8Y,Etobicoke,Royal York South East,43.6325,-79.4939
203,M8Y,Etobicoke,Sunnylea,43.6325,-79.4939
204,M8Z,Etobicoke,Kingsway Park South West,43.6256,-79.5231
205,M8Z,Etobicoke,Mimico NW,43.6256,-79.5231
206,M8Z,Etobicoke,The Queensway West,43.6256,-79.5231
207,M8Z,Etobicoke,Royal York South West,43.6256,-79.5231
208,M8Z,Etobicoke,South of Bloor,43.6256,-79.5231

In [115]:
df.to_csv("toronto.csv", index=False)